.colums {
    display: flex;
    flex: 1;
}

.column {
    width: 33.33%;
    height: 300px;
}

.column-first {
    background-color: blueviolet;
    outline: 2px groove;
    margin: 5px;
}

.column-second {
    background-color: blue;
    outline: 2px groove;
    margin: 5px;
}

.column-third {
    background-color: cadetblue;
    outline: 2px groove;
    margin: 5px;
}